html {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  background: url('../images/background.jpg') center center / cover no-repeat;
}

footer {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-bottom: 25px;
  font-family: 'Titan One', cursive;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.footer-share{
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.footer-share > li > a {
  padding: 5px;
  margin: 5px;
  text-decoration: none;
}

.fa {
  margin-right: 5px;
}

.footer-share > li > a:hover {
  color: darkred;
  text-decoration: underline;
}

.keyboard-section {
  height: 200px;
  display: flex;
}

.keyboard {
  height: 100%;
  flex-flow: column;
  display: flex;
  flex: 4;
}

.keys {
  height: 100%;
  display: flex;
  flex: 8;
  justify-content: center;
}

.key {
  flex: 1;
  display: inline-flex;
  align-items: flex-end;
  width: 100%;
  border: 1px solid black;
  box-sizing: border-box;
  justify-content: center;
  padding: 5px;
  font-family: monospace;
}

.keys > .key:active, #active {
  box-sizing: border-box;
  background-color: orange;
  box-shadow: 2px -8px 14px rgba(255,255,255,0.8) inset, -3px 2px 0px #ccc inset;
  border: 1px solid #ccc;
}

.keys > .white{
  background-color: white;
  border-radius:0 0 4px 4px;
  box-shadow: 4px -16px 6px rgba(255,255,255,0.8) inset, 6px 4px 8px #ccc inset, 1px 2px 0px rgba(0,0,0,0.2);
}

.black {
  justify-content: center;
  position: relative;
  height: 50%;
  background-color: black;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  color: white;
  width: 8%;
  margin: 0 -2%;
  border-radius:0 0 3px 3px;
	box-shadow: 3px 3px 4px rgba(255,255,255,0.2) inset, 0 10px 10px 32px rgba(0,0,0,0.6) inset, 0 5px 4px rgba(0,0,0,0.5)
}

.piano-queue-button {
  border-radius: 5px;
  border: 1px solid #666666;
  box-shadow: 1px 1px black;
  padding: 5px;
  margin: 10px;
  height: 25px;
  width: auto;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.piano-queue-button:active {
  box-shadow: 1px 1px 1px black inset;
}

.record {
  color: red;
  border: 1px solid red;
  border-radius: 3px;
}

.playback {
  color: green;
  border: 1px solid green;
  border-radius: 7px;
}
