.keyboard-section {
  width: 75%;
  height: 200px;
  display: flex;
}

.keyboard {
  height: 100%;
  flex-flow: column;
  display: flex;
  flex: 4;
}

.keys {
  height: 100%;
  display: flex;
  flex: 8;
  justify-content: center;
}

.key {
  flex: 1;
  display: inline-flex;
  align-items: center;
  width: 100%;
  border: 1px solid black;
  box-sizing: border-box;
  box-shadow:0 0 50px rgba(0,0,0,0.5) inset, 0 1px rgba(212,152,125,0.2) inset,0 5px 15px rgba(0,0,0,0.5);
}

.key:active {
  box-sizing: border-box;
  background-color: orange;
  box-shadow: inset 0 1px 0px orange;
}

 .keys > .white{
  border-radius:0 0 5px 5px;
  box-shadow: -1px 0 0 rgba(255,255,255,0.8) inset, 0 0 3px #ccc inset, 0 0 5px rgba(0,0,0,0.2);
}

.black {
  justify-content: center;
  position: relative;
  height: 50%;
  background-color: black;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  color: white;
  width: 8%;
  margin: 0 -4%;
  border-radius:0 0 3px 3px;
	box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset, 0 -5px 2px 3px rgba(0,0,0,0.6) inset, 0 2px 4px rgba(0,0,0,0.5);
}
